.App {
  text-align: center;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#header {
	text-align: center;
    background: black;
    color: white;
    font-size: 25px;
	padding: 8px;
	display: block;
}

.menu {
	width: 10%;
	background-color: gray;
	color: white;
	font-size: 32px;
	display: none;
	text-align: center;
}

#container {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
}

#map {
        float: right;
		height: 100vh;
		width: 82%;
      }

.list-view {
	height: 100vh;
	width: 18%;
	background-color: gray;
	color: white;
	overflow-y: scroll;
	font-size: 14px;
}

.select-box {
	margin: 30px;
    padding: 5px;
	font-size: 14px;
}

.rest-name {
	list-style: none;
	cursor: pointer;
}

.restaurants-list {
    padding-left: 15px;
	margin-top:0;
}

#error-message {
	text-align: center;
	margin: auto;
	background-color: yellow;
	width: 100%;
	color: black;	
}

#foursquare {
	font-size: 8px;
}

/*
 * Responsive mobile
 */
@media screen and (max-width: 600px){
 .list-view {
	width: 70%;
	height: 100vh;
 }

 .menu-close {
	display: none;
 }

 .menu-open {
	display: block;
 }
 
 .button {
    background-color: grey;
    border: none;
    color: white;
	font-size: 20px;
	font-weight: bold;
 }
 
 #map {
	width: 90%;
	height: 100vh;
	float: right;
 }

 #menu {
	display: block;
 }
}


@media screen and (min-width: 600px) and (max-width: 1000px){
 .list-view {
	width: 29%;
	padding-right: 2px;
 }

 #map {
	width:70%;
 }

.select-box {
	width:70%;
	font-size: 12px;
 }

 .restaurants-list {
    padding-right: 15px;
 }

}






